body{
    color: white;
    background: black; 
    margin: 0px; 
}

header{
    border-bottom:solid 1px rgb(17, 225, 0);
    padding: 20px;
    font-size: 34px;
    color: rgb(17, 225, 0);
}

section{
    background: rgb(105, 68, 17)
    padding-bottom:
}